i.eci{ 
display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
     }
@font-face {
 font-family: 'font384442176';
  src: url('fontello-eaf5a7c0.zip/fontello-eaf5a7c0/font/fontello.eot?126819785');
  src: url('fontello-eaf5a7c0.zip/fontello-eaf5a7c0/font/fontello.eot?126819785#iefix') format('embedded-opentype'),
       url('fontello-eaf5a7c0.zip/fontello-eaf5a7c0/font/fontello.woff2?126819785') format('woff2'),
       url('fontello-eaf5a7c0.zip/fontello-eaf5a7c0/font/fontello.woff?126819785') format('woff'),
       url('fontello-eaf5a7c0.zip/fontello-eaf5a7c0/font/fontello.ttf?126819785') format('truetype'),
       url('fontello-eaf5a7c0.zip/fontello-eaf5a7c0/font/fontello.svg?126819785#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.eci.font384442176-share::before { content: '\e800'; font-family: 'font384442176'; }
.eci.font384442176-present::before { content: '\e801'; font-family: 'font384442176'; }
.eci.font384442176-clock::before { content: '\e802'; font-family: 'font384442176'; }


